@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body {
    margin:0;
    padding:0;
    border:0;
    background-color: #8791a0
}

.header{
    margin: 0;
}

.main-photo{
    background: url(../images/adam.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
        min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
   
}

.title-banner{
    
    margin-left:50px;
    
}

.bg-color-name-title {
    background-color: #676767;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #fff;
}


.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
}

.navbar {
   
    width: 100%;
    
}




.nav li {
    font-size: 14px;
    padding: 0;
}

.nav-attach{
    font-size:0 ;
}

.nav-box {
  position:relative;
  padding: 10px 25px;
  border: 0px;
  margin:0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.nav-box-home {
    background-color: #e67e22;
    color: white;
}

.nav-box-home:hover {
    background-color: white;
    color: #e67e22;
}

.nav-box-skills {
    background-color: #9b59b6;
    color: white;
}

.nav-box-skills:hover {
    background-color: white;
    color: #9b59b6;
}
.nav-box-contact {
    background-color: #3498db;
    color: white;
}

.nav-box-contact:hover {
    background-color: white;
    color: #3498db;
}

.nav-box-cv {
    background-color: #525252;
    color: white;
}

.nav-box-cv:hover {
    background-color: white;
    color: #525252;
}

.nav {
   
}

.personal-info {
    text-align: left;
    background-color: rgb(197, 186, 197);
}

.personal-info h2 {
    text-align:center;
}

.social-media {
    background-color:rgb(226, 226, 212);
    display: inline-block;
}

.nav-box i {
    padding-top: 25px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}