@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body {
    margin:0;
    padding:0;
    border:0;
    background-color: #8791a0;
    max-height:100%;
}


.header{
    margin: 0;
}

.main-photo{
    background: url(../images/adam.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 330px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
   
}

.title-banner{
    
    margin-left:50px;
    
}

.bg-color-name-title {
    background-color: #676767;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #fff;
}


.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
}

.navbar {
   
    width: 100%;
    
}




.nav li {
    font-size: 14px;
    padding: 0;
}

.nav-attach{
    font-size:0 ;
}

.nav-box {
  position:relative;
  padding: 10px 25px;
  border: 0px;
  margin:0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.nav-box-home {
    background-color: #8b74f0;
    color: white;
}

.nav-box-home:hover {
    background-color: white;
    color: #8b74f0;
}

.nav-box-home i:hover {
    background-color: white;
    color: #8b74f0;
}


.nav-box-skills {
    background-color: #69bd8c;
    color: white;
}

.nav-box-skills:hover {
    background-color: white;
    color: #69bd8c;
}

.nav-box-skills i:hover {
    background-color: white;
    color: #69bd8c;
}

.nav-box-contact {
    background-color: #7fc5f3;
    color: white;
}

.nav-box-contact:hover {
    background-color: white;
    color: #7fc5f3;
}

.nav-box-contact i:hover {
    background-color: white;
    color: #7fc5f3;
}

.nav-box-cv {
    background-color: #313136;
    color: white;
}

.nav-box-cv:hover {
    background-color: white;
    color: #313136;
}

.nav-box-cv i:hover {
    background-color: white;
    color: #313136;
}

.nav-box-interests {
    background-color: #792b61;
    color: white;
}

.nav-box-interests:hover {
    background-color: white;
    color: #792b61;
}

.nav-box-interests i:hover {
    background-color: white;
    color: #792b61;
}

.nav-box-github {
    background-color: #27a168;
    color: white;
}

.nav-box-github:hover {
    background-color: white;
    color: #27a168;
}

.nav-box-github i:hover {
    background-color: white;
    color: #27a168;
}

.personal-info {
    text-align: left;
    background-color: rgb(197, 186, 197);
}

.personal-info h2 {
    text-align:center;
}

.social-media-links{
    padding-bottom:10px;
}

.social-media {
    background-color:rgb(226, 226, 212);
    display: inline-block;
}

.nav-box i {
    padding-top: 25px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.about-me {
    text-align: center;
}

.footing {
    background-color: #e3f7e8;
    text-align:center;
    min-height: 25%
}



.footing h5 {
    text-transform: uppercase;
    
}

.footing i {
    color: black;
}

.three-reason-heading {
    text-transform: uppercase; 
}

.three-reason-icon {
    color:#8b74f0;
}

.personal-heading {
    text-transform: uppercase;
    text-decoration: bold;
    text-align: center;
}

.personal-info-item {
     margin-bottom: 20px;
    display: block;
    
}

.personal-info-item .key,
.personal-info-item .value {
    padding-right: 8px;
    display: inline-block;
}

.conference-heading {
    text-transform: uppercase;
    text-decoration: bold;
    text-align: center;
}

.conference-info-item {
     margin-bottom: 20px;
    display: block;
    
}

.conference-heading .key,
.conference-info-item .value {
    padding-right: 8px;
    display: inline-block;
}

#map {
    min-height: 360px;
}

.key {
    text-transform: uppercase;
    text-decoration:bold;
}

.value {
    font-size:90%
}

.skills-bar {
    margin: 40px 20px;
}

.progress-type {
    position:absolute;
    left: 0px;
     font-weight: 400;
    padding: 3px 30px 2px 10px;
    text-decoration:bold;   
}

#contact-btn{
    position: relative;    
    left: 50%;   
    transform: translateX(-50%); 
    text-align: center;
    margin:20px;
    border:10px;    
    border-radius:5px;
    color:white;
    background-color: rgba(128, 0, 128, 0.959);
}

.progress-type-blue{
    color: rgba(255, 145, 0, 0.932);
}

.progress-type-green{
    color: rgba(255, 0, 0, 0.918);
}
.progress-type-aqua {
    color:rgba(255, 68, 0, 0.986);
}

.progress-type-yellow{
    color:rgba(128, 0, 128, 0.959);
}

.progress-type-red {
    color:rgba(0, 128, 0, 0.945);
}

.progress {
    position: relative;
    height:25px;
    margin-bottom:4px;
    width:100%;
    background-color:pink;
}

.history-info{
    background-color: rgb(248, 233, 204);
}

.timeline-item:before {
    content: attr(data-dates);
    color: black;
    position: relative;
    left: 0;
    top: 0;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 650;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #fafafa;
}

.timeline-item p{
   padding:0px;
   margin: 0px;
}

.history-items {
    margin-bottom:30px;
}

.contact-header {
   text-align: center;
}